<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<h3>Customers</h3>

<p>
  <a th:href="@{/customers/create}">
    Add new customer
  </a>
</p>
<p>
  <a th:href="@{/provinces/list}">
    Provinces
  </a>
</p>

<div style="margin-bottom: 10px; margin-left: 110px">
  <form th:action="@{/customers/search}" method="post">
    <label><input type="text" name="search"></label>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>


<div class="notify">
  <div th:if="${message}">
    <span th:text="${message}"></span>
  </div>
</div>

<table id = "customers">
  <thead>
  <tr>
    <th>STT</th>
    <th>Name</th>
    <th>Province</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="c,state : ${customers}">
    <td th:text="${state.count} + (${customers.number} * 5)"></td>
    <td th:text="${c.name}"></td>
    <td th:text="${c.getProvince().getName()}"></td>
    <td><a th:href="@{/customers/edit/{id}(id=${c.id})}">update</a></td>
    <td>
      <form th:action="@{/customers/delete/{id}(id=${c.id})}" method="post">
          <button>Delete</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

<a class="btn btn-primary" th:if="${customers.hasPrevious()}"
   th:href="@{/customers/list(page=${customers.number - 1})}">Previous</a>
<span th:text="${customers.number + 1}"></span> | <span th:text="${customers.totalPages}"></span>
<a class="btn btn-primary" th:if="${customers.hasNext()}"
   th:href="@{/customers/list(page=${customers.number + 1})}">Next</a>
</body>
</html>